#contenedor{

   width: 1000px;
   height: auto;
   margin: auto;
   position: relative;

}


body{

   background-image: url(../img/fondo.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

h2{
   font-family: verdana;
   color:#004669;
   margin-left: 20px;
   font-size: 40px;
   text-align: center;
   position:relative;
}

h3{
   font-family: verdana;
   color:#171BEA;
   margin-left: 20px;
   font-size: 25px;
   text-align: center;
}
.nav li a: hover{
	background-color: #4687A5;
}
header{

	width: 1000px;
	height: 500px;

}

nav{

	width: 995px;
	height: 70px;
	background: #D5E4DA;
	border: double;
	border-color:#A80BE3; 
	border-radius: 40px; 
	border-top-right-radius: 30;
	border-top-left-radius: 10;
	border-bottom-right-radius: 30;
	border-bottom-left-radius: 10;
}

nav a:hover
{
	background-color: #87BFD7
}
nav ul ul {display: none;
position:absolute;
}

nav > ul {display: table;}

 nav li {
 	position: relative;
 }
  nav li ul {
 	position: absolute;
 }

 nav li li {
 	background-color:#A9C4D0;
 }
 nav li:hover ul{
 	display: block;
 }

ul{

   margin:auto;
   padding-top: 4px;
   
}

li{

	float: left;
	list-style-type: none;
	padding: 10px;
	margin: 4px;

}


a{

	text-decoration: none;
		font-size: 25px;
	color:#2D19BA;

}

section{

	width: 700px;
	background: white;
	height: 1500px;
	float:left;
    margin-top: 20px;
    border-radius: 10px; 
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

aside{
	width: 275px;
	background: white;
	height: 1500px;
	float:left;
	margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px; 
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

footer{

	width: 1000px;
	height: 150px;
	background: #004669;
	float:left;
	margin-top: 20px;
	border-radius: 10px; 
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	margin-bottom: 20px;

}

p{

	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
	
}


iframe{

	margin-top: 40px;
}